

body {
  margin: 0px;
}

header {
  width: 100%;
  height: 170px;
  padding: 1px;
  background-image: url("images/phishnye.jpg");

}

.logo {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 145px;
  left: 390px;
  border: 3px solid white;
  border-radius: 100px;

}

main {
  max-width: 600px;
  margin: 0 auto;
  border: 5 5 5 5;
  color: grey;


}

.sidebar h1 {
  font-size: 15px;
  font-family: Verdana;
  color: #3366cc;
  padding: 60px 0 0 0;


}

.sidebar p {
  font-size: 17px;
  font-style: italic;
  color: grey;
}


div {
  width:195px;
  float: left;
  padding: 0 5px 0 0;
}

article {
  width: 300px;
  float: left;
  padding: 45px 0 0 20px;

}
article h1 {
  color: #66ccff;
}

article h3 {
  color: #ffcc66;
}
article p {
  font-size: 20px;
}

h2 {
  font-size: 15px;
  font-family: Verdana;

}
h3 {
  font-size: 15px;
  font-family: Verdana;
}
.box {
  position: fixed;
  width: 200px;
  height: 30px;
  padding-top: 5px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  bottom: 10px;
  right: 10px;
  /*margin-bottom: 5px;
  margin-left: 100px;*/




}
